[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geocausal"]
	path = geocausal
	url = https://github.com/mmukaigawara/geocausal
